# Core functionality - changes here should be rare!
/src/app.py                   @Gbreves80
/src/backend/database.py      @Gbreves80
/src/backend/routers/auth.py  @Gbreves80

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Gbreves80
